<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:include="/header::header" />
<body>
<div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
	<input size="16" type="text" value="12-02-2012" readonly="readonly"/>
	<span  aria-hidden="true" class="add-on glyphicon glyphicon-calendar glyphicon-align-left"><i class="icon-calendar"></i></span>
</div>
</body>
<script>

    $('#datetimepicker').datetimepicker();
</script>
</html>