<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.TransationDao">
    <parameterMap id="OrderInfo" type="org.spring.springboot.domain.OrderInfo"/>
    <insert id="insertOrder" parameterType="OrderInfo">
        insert into orderinfo(
        name,
        IDno,
        tellNo,
        account,
        password,
        startData,
        startStation,
        endStation,
        trains,
        type,
        status,
        isValid)
        values(
        #{name},
        #{IDno},
        #{tellNo},
        #{account},
        #{password},
        #{startData},
        #{startStation},
        #{endStation},
        #{trains},
        #{type},
        #{status},
        #{isValid}
        )
    </insert>

</mapper>
